<div class="container">
  <form id="form" role="search">
    <div class="form-group" style="padding-left: 450px">
      <h3>Generate short url</h3>
    </div>
    <div class="form-group" style="padding-left: 200px">
      <div class="form-group">
        <label style="margin-right: 10px">Name :</label>
        <input
          type="text"
          [(ngModel)]="urlObj.name"
          placeholder="Please enter the Name of the URL"
          aria-label="Search through site content"
          name="url"
          class="form-control"
          style="margin-right: 10px"
        />
      </div>
      <div class="form-group">
        <label style="margin-right: 20px">URL :</label>
        <input
          type="text"
          [(ngModel)]="urlObj.url"
          placeholder="Please enter the URL"
          aria-label="Search through site content"
          name="url"
          class="form-control"
          style="margin-right: 10px"
        />
      </div>
      <div class="form-group" style="padding-left: 250px">
        <button
          (click)="save()"
          class="btn btn-default"
          style="padding-right: 20px"
        >
          Genrate URL
        </button>
      </div>
    </div>
  </form>
</div>
<div class="table-responsive">
  <table id="customers">
    <thead>
      <tr>
        <th>ID</th>
        <th>
          Short URL Name
          <!-- <input
            type="text"
            placeholder="Search..."
            class="form-control search-field"
            [(ngModel)]="search"
          /> -->
          <button
            (click)="showBar()"
            type="submit"
            class="btn"
            style="background-color: transparent"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
            </svg>
          </button>
        </th>
        <th>Short URL</th>
        <th>Redirect URL</th>
        <th>CreatedAt</th>
        <th>UpdatedAt</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data | searchPipe : search">
        <td>{{ item._id }}</td>
        <td>{{ item.name }}</td>
        <td>
          <button (click)="onClickUrl(item.shortId)">{{ item.shortId }}</button>
        </td>
        <td>{{ item.redirectUrl }}</td>
        <td>{{ item.createdAt | date : "medium" }}</td>
        <td>{{ item.updatedAt | date : "medium" }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target=".bd-example-modal-sm"
            (click)="OpenModel(item.shortId)"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  class="popover1"
  data-toggle="popover"
  data-placement="bottom"
  tabindex="-1"
  role="dialog"
  #searchBar
>
  <div class="search-box">
    <input
      type="text"
      nz-input
      placeholder="Search name"
      [(ngModel)]="search"
    />
    <!-- <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button> -->
    <button nz-button nzSize="small" (click)="reset()">Reset</button>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" #ModelViewChild>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="editform" (ngSubmit)="editSave(editform)">
        <div class="modal-body form-group">
          <div>
            <label>Name :</label>
            <!-- <input type="text" formControlName="name" class="form-control" /> -->
            <input
              type="text"
              formControlName="name"
              placeholder="Please enter the Name of the URL"
              aria-label="Search through site content"
              name="url"
              class="form-control"
              style="margin-left: 8px"
            />
          </div>
          <div style="margin-top: 10px">
            <label>URL:</label>
            <input
              type="text"
              formControlName="redirectUrl"
              placeholder="Please enter the URL"
              aria-label="Search through site content"
              name="url"
              class="form-control"
              style="margin-left: 20px"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Update</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="closeModal()"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
